/* Clear out margin and padding, set box-sizing to border box, set a font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --background-blue: rgb(0, 115, 209);
}

/*Set body to display flex for easier positioning, make sure height fills the viewport*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/pokemon-forest.jpg');
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    justify-content: center;
    gap: 120px;
}

/* set styles for the div that will contain the list of pokemon */

#pokedex {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 450px;
    width: 300px;
    background-color: rgb(255, 239, 138);
    border-radius: 20px;
    border: 4px solid rgb(255, 221, 0);
    box-shadow: 8px 8px 8px rgba(0,0,0,.5);
    padding: 8px;
    justify-self: start;
    margin-left: 240px;
    padding-top: 12px;
}

#pokedex > h2 {
    margin-left: 4px;
    color: var(--background-blue);
}

/* handle styles for pokemon-list ul */

#pokemon-list {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
}

.poke-button {
    text-align: left;
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    background-color: var(--background-blue);
    color: white;
    width: 275px;
    cursor: pointer;
}

.modal {
    display: flex;
    flex-direction: column;
    margin-top: -64px;
    gap: 12px;
    width: 300px;
}

.box {
    visibility: hidden;
}
/* uses class name from vanilla-tilt.js and allows element and children to move and appear in 3d */
.box.is-visible {
    display: flex;
    border-radius: 20px;
    transform-style: preserve-3d; 
    background-color: rgb(255, 239, 138);
    box-shadow: 8px 8px 8px rgba(0,0,0,.5);
    height: 450px;
    width: 300px;
}

/* set background styles for the card that shows the pokemon */

.box .pokemon-card {
    height: 450px;
    width: 300px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center 55%;
    border: 4px solid rgb(255, 221, 0);
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: .5s
}

/* move pokemon image up on hover so that it is easier to see */
/*
.box:hover .pokemon-card {
    background-position: center 40%;
}
*/

/* set style for sprite image */
#pokemon_sprite {
    width: 35%;
    left: 100px;
}

/* set base styles for all children of .pokemon-card */

.elements {
    position: absolute;
    height: 100px;
    border: 4px solid rgb(255, 221, 0);
    box-shadow: none;
    border-radius: 10px;
}

/* set styles for image of evolved pokemon form */

.elements.bg {
    width: 80px;
    height: 80px;
    transition: 0.5s;
    z-index: 11;
    border-radius: 50%;
    background-image: url('../images/evolve.webp');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    box-shadow: 4px 4px 4px rgba(0,0,0,.5);
}

.bg img {
    width: 100%;
    height: auto;
    transition: all .25s ease;
}

/*
.box:hover .bg img {
    transform: scale(1.25);
}
*/

.elements.bg2 {
    top: 50px;
    left: 200px;
}

.elements.bg1 {
    top: 50px;
    left: 24px;
}

/*
.box:hover .elements.bg {
    width: 150px;
    height: 150px;
    transform: translateZ(140px);
}

.box:hover .elements.bg1 {
    top: -150px;
    left: 100px;
}

.box:hover .elements.bg2 {
    top: 50px;
    left: 300px;
}
*/

/*
.elements.bg img{

    position: absolute;
    border-radius: 50%;
    width: calc(100%);
    height: calc(100%);
    transition: 0.5s;
}
*/



.elements.imgBx {
    width: 300px;
    height: 140px;
    transition: 0.5s;
    z-index: 10;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.elements.imgBx img{
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
/*    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 2px solid rgba(255,255,255,0.75);
    border-left: 2px solid rgba(255,255,255,0.75);
    box-shadow: 25px 25px 45px rgba(0,0,0,0.02); */
/*    opacity: 0; */
    transition: 0.5s;
}

/*
.box:hover .elements.imgBx img {
    opacity: 1;
}
*/

/*
.box:hover .elements.imgBx {
    top: 0;
    right: 250px;
    width: 312px;
    height: 168px;
    transform: translateZ(100px);
}
*/

/* styles for the pokemon name label */

.elements.name {
    top: 275px;
    left: 20px;
    height: 24px;
    padding: 8px;
    color: white;
    background: transparent;
    border: none;
    border-radius: 50px;
    box-shadow: none;
/*    opacity: 0; */
    transition: 0.5s;
    transition-delay: 0.1s;
    color: white;
    background-color: rgb(10, 104, 181);
    z-index: 2;
    display: flex;
    align-items: center;
}

/*
.box:hover .elements.name {
    top: 240px;
    border: none;
    box-shadow: none;
}
*/

/* styles for list of pokemon attributes */

.elements.content {
    top: 300px;
    width: 100%;
    min-height: 150px;
    text-align: center;
    z-index: 1;
    transition: 1s;
    background-color: rgb(255, 221, 0);
    display: flex;
    justify-content: center;
}
  
/*
.box:hover .elements.content {
    top: 350px;
    transform: translateZ(160px);
}
*/

/*
.box:hover .elements.content p {
    opacity: 1;
} */

.poke-data {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-around;
}

.labels, .values {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.labels {
    align-items: end;
}

.values {
    align-items: start;
}

.close-details {
    align-self: end;
    display: flex;
    justify-content: center;
    background-color: rgba(255,255,255,.75);
    align-items: center;
    border: 2px solid white;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    color: var(--background-blue);
    font-weight: bold;
    visibility: hidden;
    transition: all ease .1s;
}

.close-details:hover, .close-details:focus {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
    cursor: pointer;
}
